

.pg-btn {
    display: flex;

}
.pagination {
    display: flex;
    flex-direction: row;
    margin: 64px auto;
}
.nxt-btn {
    padding: 16px 32px;
    background-color: #1abc9c;
    border-radius: 16px;
    color: white;
    margin: 0 32px;
}
.hide {
    display: none;
}
.padding-top {
    padding-top: 64px;
}
.text-color {
    text-decoration-color: #1abc9c;
}
.text-color:hover {
    text-decoration-color: #1abc9c!important;
}